.application-header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.app-part {
    margin: 2rem 1rem;
}

.app-part > .app-part-title {
    padding: 10px 20px 0 20px;
    border-bottom: 1px solid dimgray;
}

.app-part > .app-part-body {
    padding: 10px 0;
}